.page-section .content-detail .global-title span {
  -webkit-animation: animateblur 1s linear forwards;
          animation: animateblur 1s linear forwards;
}
.page-section .content-detail .global-title span:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.page-section .content-detail .global-title span:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.page-section .content-detail .global-title span:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
@-webkit-keyframes animateblur {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
@keyframes animateblur {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}