.login-with-btns .google:hover i {
  color: #db4437;
}
.login-with-btns .facebook:hover i {
  color: #3b5998;
}
.login-with-btns .twitter:hover i {
  color: #00acee;
}
.login-with-btns .linkedin:hover i {
  color: #0e76a8;
}