@import "tailwindcss";

@theme{
    --color-background: #fff;
    --color-primary: #b1e1b9;
    --color-coprimary: #5076db;
    --color-textFade: #aaa;
    --color-bgNav: #ffff;
    --color-borderColor: 
}